.main-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

.main-container .game-status {
  font-size: 2rem;
  text-align: center;
}

.main-container .keyboard-container {
  align-self: stretch;
}

.main-container .keyboard-container .keyboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: ".5rem";
}

.main-container .word-to-guess {
  display: flex;
  gap: 0.25em;
  font-size: 6em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.btn {
  width: 100%;
  border: 3px solid black;
  background: none;
  aspect-ratio: 1 / 1;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}

.restart-button {
  display: inline-block;
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%; /* Makes the button round */
  border: 2px solid grey; /* Grey border */
  background-color: red; /* Red background */
  color: white; /* White font */
  font-size: 16px; /* Adjust the font size as needed */
  text-align: center;
  line-height: 100px; /* Centers the text vertically */
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.restart-button:hover {
  background-color: darkred;
  /* transform: scale(1.1); */
}
